language: julia
julia:
    - 0.4
    - nightly
matrix:
  allow_failures:
    - julia: nightly
notifications:
    email: false
before_install:
  - if [[ -a .git/shallow ]]; then git fetch --unshallow; fi
  - npm install -g casperjs # install casperjs and requirements (inc. phantomjs)
  - phantomjs --version; casperjs --version
script:
  - julia -e 'Pkg.init(); Pkg.clone(pwd()); Pkg.build("Bokeh"); Pkg.test("Bokeh",coverage=true)'
  - casperjs test test/casper.js
after_success:
  - julia -e 'cd(Pkg.dir("Bokeh")); Pkg.add("Coverage"); using Coverage; Coveralls.submit(Coveralls.process_folder())'
